# Files to ignore #
###################

#Temporary Gedit Files
*~

#Test image directory
test_segmentation

#Abstract image directory
abstract_images

#CT image directory
ct_images

#report images
reportfiles
